#General
node_modules
.pnpm-store
.env
.env.local
mocks
homepages.txt


# Python
__pycache__/
.ruff_cache
*.py[cod]
*.pyo
scripts/

#MISC
event_sources.txt
improvements.md
seed.py
test_ics_urls.py
test_ical_fetch.py
