# Virtual environment
.venv
venv
__pycache__
*.py[cod]
*$py.class
*.so

# Distribution
dist
build
*.egg-info

# Development
.env
.env.*
*.log

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache
.coverage
htmlcov
.tox
.nox

# Type checking
.mypy_cache
.dmypy.json
dmypy.json

# Misc
README.md
*.md
